
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* *{
    margin: 40px 0px 0px 0px;
    padding: 0;
} */
 .navi{
    display: flex;
    justify-content: space-between;
    margin: 18px;
    padding: 18px;
 }
 .navi h1{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 24px;
font-weight: 700;
text-align: left;
 }
 .navi button{
width: 116px;
height: 52px;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
text-align: center;
margin-right: 36px;

 }
#bangla{
width: 1100px;
height: 460px;
border-radius: 24px;
background: rgb(198, 228, 214);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;
flex: none;
order: 0;
flex-grow: 0;
margin: 18px;
}
.vision{
width: 622px;
height: 326px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 0;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 100px;
}
.vision h5{
    color: rgba(14,14,14,0.5);
    font-family: Fira Sans;
     font-size: 24px; 
    font-weight: 5px;
    letter-spacing: 0%;
    text-align: left;
}
.vision h1{
    width: 100%;
    height: 201px;
    color: rgb(14,14,14);
    font-family: Fira Sans;
    font-size: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 4px;
}
.banbtn{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0,106,80);
    color: rgb(255,255,255);
    font-family: Fire Sans;
    font-weight: 600px;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 13px;
    text-align: center;
    border: none;
}
.banbtn:hover{
    background-color: gray;
    cursor: pointer;
}
.future{
width: 1280px;
height: 480px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.aims{
width: 1280px;
height: 120px;
margin: 18px; 
}
.aims h1{
width: 1280px;
height: 32px;
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
}
.aims p{
width: 1280px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.aim-image{
width: 1280px;
height: 420px;
margin: 18px;
}

.aim-image{
    display: flex;
    justify-content: space-around;

}
.card-icon{
width: 410.67px;
height: 300px;
box-sizing: border-box;
border-radius: 16px;
padding: 24px;
background: rgba(84, 144, 245, 0.2);
}
.card-icon img{
    width: 49px;
    height: 53px;
    background: rgb(129, 180, 252);
}
.card-icon h1{
width: 100%;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.card-icon p{
width: 100%;
height: 72px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.cbtn{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    color: white;
}
.cbtn:hover{
    background-color: gray;
}
.cbtns{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: #09A15C;
    border: none;
    color: white;
}
.cbtns:hover{
    background-color: gray;
}

.cbtne{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background-color: #09A15C;
    border: none;
    color: white;
}
.cbtne:hover{
    background-color: gray;
}
.news{
    width: 1280px;
    height: 120px;

}
.news h1{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.news p{
width: 1280px;
height: 48px;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.msection{
    margin: 18px;
}
.main-section{
    /* width: 1280px;
    height: 500px; */
    margin: 24px auto;
    padding: 18px;

}
.satelite{
/* width: 1280px;
height: 302px; */
display: flex;
/* flex-direction: row; */
justify-content: space-between;
align-items: center;
padding: 18px;
border-radius: 24px;
/* background: rgb(255, 255, 255); */
background-color:rgb(255, 255, 255) ;
border: 2px solid #fff;
/* padding: 12px; */

}
.satelite-img{
    /* width: 408px;
    height: 306px; */
  

}
.satelite-img img{
    border-radius: 24px;
    background: url(image);

}
.launche{
    /* width:100%;
    height: 306px; */
    padding-left: 44px;
    margin-bottom: 60px;
    background-color:#fff ;
}
.launche h1{
width: 100%;
height: 38px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;

}
.launche p{
    width: 100%;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.lanbtn{
width: 139px;
height: 48px;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
color: white;
}
.lanbtn:hover{
    background-color: gray;
}
.donat{
    width: 1280px;
    height: 505px;
    margin: 18px;

}
.donat h1{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;

}
.donat p{
    width: 100%;
color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.boxs{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.boxs button{
    width: 22%;
    height: 100px;
    text-align: center;
    font-size: 24px;
    font-family: Fira Sans;
    border-radius: 8px;
    background: rgb(255, 255, 255); 
    border: 1px solid #fff;
    
}
.boxs button:hover{
    background-color: gray;
}
.boxs .bbtn{
     background-color: rgb(198, 228, 214);
}
.inbtn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    
}
.inbtn input{
    width: 100%;
    height: 60px;
    background: rgb(255,255,255);
    text-align: center;
    border: #fff;
}
.lanbtns{
    /* width: 139px;
    height: 48px; */
    border-radius: 8px;
    /* text-align:center; */
    /* align-items: center; */
    background: rgb(0, 106, 80);
    border: none;
    color: white;
    padding: 12px;
    }
    .lanbtns:hover{
        background-color: gray;
    }
    .Newsletter {
        width: 1280px;
        /* height: 395px; */
        border-radius: 24px;
        background: rgb(198, 228, 214);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 18px; 
    }
    
    .heading {
        width: 100%;
        /* height: 20px; */
    }
    
    .heading h1 {
        color: rgb(14, 14, 14);
        font-family: Fira Sans;
        font-size: 36px;
        line-height: 10px;
        text-align: center;
    }
    
    .heading p {
        width: 100%;
        color: rgba(14, 14, 14, 0.7);
        font-family: Fira Sans;
        font-size: 16px;
        line-height: 12px;
        text-align: center;
    }
    
    .input-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 18px;

    }
    
    .input-container input {
        width: 600px;
        height: 54px;
        border-radius: 8px 0px 0px 8px;
        text-align: left;
        padding-left: 10px;
        background: rgb(255, 255, 255);
        border: none;
    }
    
    .input-container button {
        width: 150px;
        height: 56px;
        cursor: pointer;
        border-radius: 0px 8px 8px 0px;
        font-size: 24px;
        color: white;
        background: rgb(0, 106, 80);
        border: none;
    }
    .input-container button:hover{
        background-color: gray;
    }
    .container {
        padding: 24px; 
        margin: 18px;/* This will act as the margin for the background image */
        background-color: #fff;
        border-radius: 18px;
        /* background-position: left; */
    }
     
    .ipsum{
        background-image: url('image/quote-bg.png');
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 18px;
        margin: 8px;
        padding: 8px;
    }
    .ipsum p{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
    }
    .ipsum h1{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
text-align: left;
    }

    .footer{
        background-color: #fff;
        padding: 28px 300px;
        margin: 24px;
    }
    .bangladesh{
text-align: center;
color: rgb(14, 14, 14);
font-family: Fira Sans;
/* font-size: 26px;
font-weight: 25px;
text-align: left; */
    }
    .bangladesh hr{
        border: none;
      border: 1px solid rgba(14, 14, 14, 0.1);;
        
    }
    .footer-img{
        text-align: center;
    }
    .footer-img img{
        padding: 6px;
        margin: 10px;
        /* text-align: center; */
        align-items: center;
    }
   
    
    
    